/*
--------------------------------------------------------------------------------
Open Sans, sans-serif
light: 300
semi-bold: 600
extra-bold: 800
--------------------------------------------------------------------------------
*/
@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Regular.otf');
}

@font-face {
  font-family: Inter-Bold;
  src: url('../fonts/Inter-Bold.otf');
}

@font-face {
  font-family: Inter-Light;
  src: url('../fonts/Inter-Light.otf');
}

@font-face {
  font-family: Inter-Italic;
  src: url('../fonts/Inter-Italic.otf');
}

@font-face {
  font-family: Maax;
  src: url('../fonts/Maax.ttf');
}


@font-face {
  font-family: Maax-Bold;
  src: url('../fonts/Maax-Bold.ttf');
}


@font-face {
  font-family: Maax-Medium;
  src: url('../fonts/Maax-Medium.ttf');
}
