/*
--------------------------------------------------------------------------------
COLORS
--------------------------------------------------------------------------------
*/
$black: #000000;
$dark:  #0E141A;
$red:   #e15555;
$green: #28B9B5;
$white: #ffffff;
/*
--------------------------------------------------------------------------------
FONT COLORS
--------------------------------------------------------------------------------
*/

.green { color: $green; }
.red { color: $red; }